MONGODB_URI=mongodb://avlestechmongodb:PMp61tBONga1caID31Ser366HY87AGqnOnu7G9s3i8OgMx6jHwpe0As8Airt0MfP6p4WDIx9cIqZACDb2QmgOw%3D%3D@avlestechmongodb.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&maxIdleTimeMS=120000&appName=@avlestechmongodb@
DB_NAME=quantumxio